# Portas exclusivas do projeto site-murm
SITE_MURM_LOCAL_HOST=0.0.0.0
SITE_MURM_LOCAL_PORT=4325
SITE_MURM_REMOTE_HOST=127.0.0.1
SITE_MURM_REMOTE_PORT=3125

# Aplicação
PUBLIC_SITE_NAME="Murmurinho"
PUBLIC_SITE_DESCRIPTION="A rede mais fácil do mundo"
PUBLIC_MURMUR_TEXT_LIMIT="256"
PUBLIC_GOOGLE_CLIENT_ID="SEU_CLIENT_ID.apps.googleusercontent.com"
PUBLIC_HOME_RANDOM_MURMUR_INTERVAL_MS=4000
PUBLIC_MURMUR_REPLY_MAX_DEPTH=10
PUBLIC_MURMUR_REPLY_VIEW_MODE=threaded

# Oracle Autonomous Database
ORACLE_USER="MURMDB"
ORACLE_PASSWORD="COLOQUE_A_SENHA_AQUI"
ORACLE_CONNECT_STRING="siteverso_low"
ORACLE_WALLET_DIR="/home/daniel/.oracle/Wallet_siteverso"
ORACLE_POOL_MIN="0"
ORACLE_POOL_MAX="4"
ORACLE_POOL_INCREMENT="1"
ORACLE_QUEUE_TIMEOUT_MS="10000"
ORACLE_WALLET_PASSWORD="COLOQUE_A_SENHA_AQUI"

# Sessão própria do Murmurinho
SESSION_COOKIE_NAME="murmurinho_session"
SESSION_DAYS="30"

# Somente desenvolvimento. Em produção mantenha false até integrar e-mail.
ALLOW_LOCAL_PASSWORD_RESET="false"
